<script>
  var requireCSS=[];
  loadCSS("/node_modules/select2/dist/css/select2.css");

  var requireJS = [
    "/node_modules/select2/dist/js/select2.js",
    "node_modules/summernote/dist/summernote-bs4.min.js",
    "node_modules/jquery.maskedinput/src/jquery.maskedinput.js",
    "node_modules/jquery-validation/dist/jquery.validate.js"
  ];
  loadJS(requireJS, "js/views/forms.js");
  // loadJS(requireJS, "/node_modules/datatables.net/js/jquery.dataTables.min.js");
  // loadJS(requireJS, "/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js");
  // loadJS(requireJS, "/node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.js");
  // loadJS(requireJS, "js/views/main.js");
</script>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-10">
      <h1 class="display-4">Username (role)</h1>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i> Users
        </div>
        <div class="card-block">
          <form id="signupForm" class="noSubmit" action="">

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Username:</label>
              <div class="col-md-9">
                <p class="form-control-static">ahmad</p>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Full Name:</label>
              <div class="col-md-9">
                <p class="form-control-static">Ahmad Kazemi</p>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Email:</label>
              <div class="col-md-9">
                <p class="form-control-static">ahmad.kazemi@gmail.com <span class="badge badge-success">Confirmed</span></p>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Mobile:</label>
              <div class="col-md-9">
                <p class="form-control-static">09111231234 <span class="badge badge-danger">Not confirmed</span></p>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Roles: </label>
              <div class="col-md-9">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <div class="bg-dark pl-2">
                      <span class="text-white font-weight-bold">user</span>
                      <button type="button" class="btn btn-link ml-0 px-1"><i class="text-danger fa fa-lg fa-remove"></i></button>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="bg-dark pl-2">
                      <span class="text-white font-weight-bold">admin</span>
                      <button type="button" class="btn btn-link ml-0 px-1"><i class="text-danger fa fa-lg fa-remove"></i></button>
                    </div>
                  </li>
                  <li class="list-inline-item">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Role" aria-label="Add new Role" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button">Add</button>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3 col-form-label">Roles: </label>
              <div class="col-md-9">
                <select id="multiple-select" name="multiple-select" data-placeholder="Pease at least select 1 item" class="form-control select2 select2-multiple" size="5" multiple="multiple">
                  <option value="admin" selected>admin</option>
                  <option value="user" selected>user</option>
                  <option value="support">support</option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <a class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Deactivate</a>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
